<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <a routerLink="/games">Voltar</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="mb-2">
        <div class="">
          <figure class="figure">
            <img class="figure-img img-fluid" [src]="gameObj?.game?.box.large" [alt]="gameObj?.game?.name">
            <figcaption class="figure-caption text-lowercase text-center">
              <h1 class="title">{{gameObj?.game?.name}}</h1>
              <p>{{gameObj?.viewers}} visualizações</p>
              <p>{{gameObj?.channels}} canais ao vivo</p>
              <p>{{gameObj?.game?.popularity}} popularidade</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
